# Function dependencies, for example:
# package>=version

Flask==1.0.2
simpletransformers==0.61.4
transformers==4.6.0
gunicorn==20.1.0
torch==1.8.1
tensorflow==2.5.0
flax==0.3.4
tqdm<4.50.0,>=4.27
click<8.0,>=7.0
numpy~=1.19.2
typing-extensions~=3.7.4
pip==21.1.2